body {
  background-color: #008e76;
}

#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
  background-color: #00bfa5;
  color: #e0f7fa;
  transition: all 0.6s ease-in-out;
}

nav > a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #e0f7fa;
  margin-right: 30.5px;
  text-decoration-line: none;
}

nav > a.active {
   border-bottom: solid 4px;
}

nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #e0f7fa;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: #e0f7fa;
  margin: 0;
  margin-bottom: 18px;
}

section {
}

hr {
  border: none;
  border-top: 1px solid #e0f7fa;
  margin: 20px 0;
}

input[type="submit"] {
  background: #03a8d8;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #e0f7fa;
  border: solid 4px #008e76;
  border-radius: 10px;
  padding: 7px 9.6px 9px 9.6px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

label {
  margin-left: 16px;
}

.tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.tile-title {
  font-weight: 700;
}

.tile-container {
  margin-bottom: 20px;
}

.alert {
 color: #E91E63;
 margin-top: 10px;
}

button {
  padding: 10px 15px;
  background-color: #00bfa5;
  border: solid 4px #008e76;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #e0f7fa;
  margin-top: 10px;
}